{<<"app">>,<<"chaos_spawn">>}.
{<<"build_tools">>,[<<"mix">>]}.
{<<"description">>,
 <<"Providing tools to randomly kill proceses. With the goal of creating\nrobust supevision trees.">>}.
{<<"elixir">>,<<"~> 1.4">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/chaos_spawn">>,<<"lib/chaos_spawn.ex">>,
  <<"lib/chaos_spawn/chaotic">>,
  <<"lib/chaos_spawn/chaotic/chaotic_supervisor.ex">>,
  <<"lib/chaos_spawn/chaotic/chaotic_worker.ex">>,
  <<"lib/chaos_spawn/chaotic/gen_server.ex">>,
  <<"lib/chaos_spawn/chaotic/spawn.ex">>,
  <<"lib/chaos_spawn/chaotic/supervisor">>,
  <<"lib/chaos_spawn/chaotic/supervisor/wrapper.ex">>,
  <<"lib/chaos_spawn/config.ex">>,<<"lib/chaos_spawn/example">>,
  <<"lib/chaos_spawn/example/gen_server.ex">>,
  <<"lib/chaos_spawn/example/spawn.ex">>,<<"lib/chaos_spawn/kill_loop.ex">>,
  <<"lib/chaos_spawn/pid_list.ex">>,<<"lib/chaos_spawn/process_killer.ex">>,
  <<"lib/chaos_spawn/process_spawner.ex">>,
  <<"lib/chaos_spawn/process_watcher.ex">>,
  <<"lib/chaos_spawn/supervisor.ex">>,<<"lib/chaos_spawn/time.ex">>,
  <<"mix.exs">>,<<"README.md">>]}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"links">>,[{<<"GitHub">>,<<"https://github.com/meadsteve/chaos-spawn">>}]}.
{<<"name">>,<<"chaos_spawn">>}.
{<<"requirements">>,
 [[{<<"app">>,<<"exactor">>},
   {<<"name">>,<<"exactor">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 2.2.0">>}],
  [{<<"app">>,<<"timex">>},
   {<<"name">>,<<"timex">>},
   {<<"optional">>,false},
   {<<"repository">>,<<"hexpm">>},
   {<<"requirement">>,<<"~> 3.0.5">>}]]}.
{<<"version">>,<<"0.9.0">>}.
